.sw_back_s {
	background-image: url("/static/img/sw_back_s.png");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

.left_page {
	position: relative;
}

.left_page_col {
	position: absolute;
	width: 25%;
}

.mid_col {
	left: 25%;
}

.right_page {
	float: right;
	width: 74%;
	overflow: auto;
	height: 73vh;
	position: relative;
	padding-left: 1vw;
}

.right_page_form {
	position: initial;
}

.tab_header {
	position: absolute;
	top: -.5em;
	z-index: -2;
	font-size: 1.5em;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	padding: .5em 2em .5em 2em;
	margin-left: 3vw;
}

.tab_header:hover {
	-ms-transform: translate(0, -1.25em); /* IE 9 */
    -webkit-transform: translate(0, -1.25em); /* Safari */
    transform: translate(0, -1.25em);
}

.tab {
	background-image: url("/static/img/light_underline.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	cursor: pointer;
	text-align: center;
}

.tab:hover {
	background-image: url("/static/img/light_underline_high.png");
	color: #293c56;
}

.innerList {
	overflow-y: auto;
	overflow-x: hidden;
	height: 68vh;
}

h2 {
	padding-left: 1em;
	margin-bottom: .2em;
}

.next_butt {
	position: absolute;
	right: 35px;
	top: 10px;
}

ul.topped {
	margin-top: 1vh;
}

div.talent {
	width: 23%;
	text-align: center;
	display: inline-block;
}

span.left_label {
	width: 45%;
	display: block;
	float: left;
	text-align: right;
	font-size: 1em;
}

.sing_select option[label]{
	background-color: #172836;
}

.sing_select {
	background-color: #172836;
}

select.talent {
	min-width: 20%;
	max-width: 20%;
	background-color: #172836;
}

a {
	color: #a4dde5;
}

a:visited {
	color: #a4dde5;
}

.skillSpan {
	display: inline-block;
}

li.skill {
	float: left;
	width: auto;
	padding: 1% 2%;
	text-align: center;
	background-image: url('/static/img/light_underline.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 95% 20%;
}

img.detail_img {
	width: auto;
	max-width: 95%;
	height: auto;
	max-height: 95%;
	position: absolute;
	right: 2em;
	top: 10vh;
	z-index: -1;
}

.characterBlock {
	width: 100%;
	font-size: 1.3em;
	padding-top: 0.65em;
	padding-bottom: 0.65em;
	position: relative;
	z-index: 100;
	display: inline-block;
}

.innerCharBlock > span {
	width: 16%;
	float: left;
	height: 1.3em;
	text-align: center;
}

.specializ {
	margin-top: 4vh;
}

.talCol1 {
	left: 0;
}

.talCol2 {
	left: 26%;
}

.talCol3 {
	left: 52%;
}

.talCol4 {
	left: 78%;
}

.talRow1 {
	top: 0;
}

.talRow2 {
	top: 11vh;
}

.talRow3 {
	top: 22vh;
}

.talRow4 {
	top: 33vh;
}

.talRow5 {
	top: 44vh;
}

.connCol1 {
	left: 21%;
}

.connCol2 {
	left: 47%;
}

.connCol3 {
	left: 73%;
}

.vConnRow1 {
	top: 5.5vh;
}

.vConnRow2 {
	top: 16.5vh;
}

.vConnRow3 {
	top: 27.5vh;
}

.vConnRow4 {
	top: 38.5vh;
}

.talentBlock > div.talent {
	width: 21%;
	text-align: center;
	display: inline-block;
	z-index: 125;
	position: absolute;
	top: 40%;
	height: 4.4vh;
	overflow: hidden;
	padding-top: 1vh;
}

.talentBlock > div.talent:hover {
	background-image: url("/static/img/sw_back_h.png");
	background-size: 100% 100%;
	background-repeat: round;
	cursor: pointer;
	color: #F0F0F0;
}

.talentBlock > div.conn {
	width: 5%;
	position: absolute;
	top: 75%
}

.talentBlock {
	width: 100%;
	font-size: 0.8em;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	height: 5.5vh;
	position: absolute;
}

.specialWrap {
	position: relative;
	overflow: hidden;
	height: 52vh;
}

.talentPanelOut {
	position: absolute;
	top: 0;
	padding-left: 3%;
	padding-right: 3%;
	height: 100%;
	z-index: 150;
	width: 94%;
}

.talentPanel {
	position: relative;
	overflow-y: auto;
	height: 95%;
	width: 100%;
	margin-top: 1.5vh
}

.talentPanel > p {
	width: 100%;
	font-size: 1.1em;
}

div.conn > img {
	width: 100%;
	position: relative;
	top: 50%
}

div.vConn {
	height: 5.5vh;
    width: 23%;
    display: inline-block;
	z-index: 100;
}

.vConn > img {
	transform: rotate(90deg);
    width: 5.5vh;
    top: 4vh;
    position: relative;
    left: 40%;
}

.taleDesc {
	white-space: pre-line;
	margin-top: 2%;
}

.taleDesc > img {
	height: 1em;
}

.closeButton {
	font-size: 0.75em;
	position: absolute;
	right: 4vw;
	top: 2vh;
}

.threshold {
	text-align: left;
	width: 100%;
	height: auto;
}

.abilities {
	width: 95%;
}

.specAbil > li {
	width: 95%;
	padding-top: 2vh;
	font-size: 1.2em;
	word-wrap: break-word;
}

.droidSkill {
	display: inline-block;
	padding-top: 1vh;
	width: auto;
}

.tablePage {
	height: 99%;
	font-size: 1.15em;
	overflow: hidden;
}

.tabPag_inner {
	margin-top: 2%;
	height: 96%;
	overflow: hidden;
}

.headTable {
	position: absolute;
	height: 12vh;
}

.follTable {
	 margin-top: 12vh;
	 height: 58vh;
	 overflow-y: auto;
}

tr.item:hover {
	cursor: pointer;
	background-image: url("/static/img/light_underline_high.png");
	background-size: 100% 100%;
	color: #293c56;
	font-weight: 200;
}

td.rang {
	text-align: center;
}

td.name, th.name {
	width: 20%;
}

td.char, th.char {
	width: 3%;
}

td.char_w, th.char_w {
	width: 12%;
}

tr.head {
	background-image: url("/static/img/light_underline_high.png");
	background-size: 100% 100%;
	color: #293c56;
}

th:hover {
	cursor: row-resize;
}

.tablePadT {
	padding-top: 2vh;
}

.tablePadR {
	padding-right: 2vw;
}

.tablePadB {
	padding-bottom: 2vh;
}

.tablePadL {
	padding-left: 2vw;
}

.mobOnly {
	display: none;
}
