body {
	background-image: url("/static/img/starscape.png");
	background-size: 100% 100%;
	background-repeat: round;
	color: #a4dde5;
	font-family: 'Share Tech Mono', monospace;
	width: 75vw;
	margin: auto;
	perspective: 1000px;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	overflow: hidden;
}

.mainDiv {
	height: 80vh;
	position: relative;
}

.sw_back {
	background-image: url("/static/img/sw_back.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fade_in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade_out {
	0% {opacity: 1}
	100% {opacity: 0}
}

@-webkit-keyframes fade_out {
	0% {opacity: 1}
	100% {opacity: 0}
}

@-moz-keyframes fade_out {
	0% {opacity: 1}
	100% {opacity: 0}
}

.fade_in {
	animation-name: fade_in;
	animation-duration: 750ms;
	-webkit-animation-name: fade_in;
	-webkit-animation-duration: 750ms;
	-moz-animation-name: fade_in;
	-moz-animation-duration: 750ms;
}

.fade_out {
	animation-name: fade_out;
	animation-duration: 350ms;
	-webkit-animation-name: fade_out;
	-webkit-animation-duration: 350ms;
	-moz-animation-name: fade_out;
	-moz-animation-duration: 350ms;
	opacity: 0;
}

.fade_nu {
	display: none;
}

.right_col {
	width: 49%;
	font-size: 1.2em;
	position: absolute;
	right: 0;
	height: 73vh;
	overflow-y: auto;
}

.page {
	z-index: 0;
	height: 80vh;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-top: 4vh;
}

.sixty_he{
    margin-top: 3vh;
    float: left;
    width: 100%;
    position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	height: 74vh;
}

ul {
	list-style: none;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

li {
	width: 100%;
    position: relative;
    display: inline-flex;
}

span {
	width: 100%;
	display: inline;
}

img.detail_img {
	width: auto;
	max-width: 95%;
	height: auto;
	max-height: 95%;
	position: absolute;
	right: 2em;
	top: 10vh;
}

p {
	width: 95%;
	font-size: 1.1em;
	margin-right: 0;
	height: 1.25em;
}

label{
	position: relative;
	font-weight: 300;
	font-size: 1.35em;
	margin: 5px auto;
	height: 20px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

optgroup[label]{
	font-size: 120%;
	color: #c0eaf1;
}

option[label]{
	color: #a4dde5;
	background-color: rgba(0, 50, 108, .25);
}

input, textarea, select {
	background: transparent;
	color: #a4dde5;
	border-width: thin;
	border-color: #83d9e6;
	text-align: center;
	font-size: 1em;
}

select {
	min-width: 250px;
}

textarea {
	resize: vertical;
	width: 100%;
	text-align: left;
	height: 10em;
}

input:focus, textarea:focus, select:focus, select:active {
	outline-color: #c0eaf1;
}

input.found {
	color: rgba(200, 4, 4, 1);
	background-color: rgba(133, 4, 4, 0.75);
}

.clickable {
	background-image: url("/static/img/light_underline.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 10%;
	cursor: pointer;
	text-align: center;
	font-size: 150%;
	height: 50px;
	padding-top: 3%;
}

.clickable:hover {
	background-image: url("/static/img/light_underline_high.png");
	background-size: 100% 100%;
	color: #293c56;
	font-weight: 200;
}

button {
	float: right;
	background-color: rgba(84, 123, 168, 0.35);
	color: #a4dde5;
	display: inline-block;
  	padding: 10px 15px;
  	font-size: 1em;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
	border-width: 3px;
	border-color: #c0eaf1;
	border-style: double;
	outline: none;
  	border-radius: 35px;
  	box-shadow: 0px 0px 10px 5px #547ba8;
	margin-top: 5px;
	z-index: 450;
}

button:hover {
	background-color: rgba(84, 123, 168, 0.65);
	box-shadow: 0px 0px 20px 10px #547ba8;
}

button:active {
	background-color: rgba(192, 234, 241, 0.5);
	color: #83d9e6;
	box-shadow: 0px 0px 25px 15px rgba(192, 234, 241, 0.75);
	transform: scale(0.9, 0.9);
}

table {
	width: 100%;
	padding-left: 2%;
}

tr {
	background-image: url("/static/img/light_underline.png");
	background-size: 105% 20%;
	background-repeat: no-repeat;
	background-position: bottom center;
}

tr.bg_none {
	background: none;
}

td.table_name {
	font-size: 1.25em;
}
