.s_ws_p_inline {
    font-size: 1.1em;
}

span.full_width {
    margin-top: 2px;
    margin-bottom: 2px;
}

.tab_header {
    font-size: 1.1em;
}

input[type="number"] {
    max-width: 25vw;
}

.login {
    width: 84vw;
    padding: 1vw;
}
