body {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

.mainDiv {
    height: 99vh;
}

.page {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 96vw;
    height: 100%;
    margin-top: 0;
}

.sixty_he {
    padding-top: 5vh;
    height: 90vh;
    margin-top: 0;
}

.innerList {
    height: 85vh;
}

.loginBlock {
    width: 100%;
}

.tab_header {
    z-index: 2;
}

.tab_header:hover {
    -ms-transform : none;
    -webkit-transform: none;
    transform: none;
}

.tab:hover {
    background-image: url("/static/img/light_underline.png");
    color: inherit;
}

.follTable {
    margin-top: 9vh;
}

td.char, th.char {
    display: none;
}

td.char_w, th.char_w {
    display: none;
}

.left_page_col {
    height: 90vh;
}

.right_col {
    height: 90vh;
}
