.inline_butt {
	position: relative;
	padding: 0.25em 0.75em;
	float: none;
	width: 3em;
	min-width: fit-content;
}

.inline_span {
	width: auto;
}

span.full_width {
	display: inline-block;
}

.s_ws_p_inline {
	font-size: 1.5em;
}

.menu_p {
	position: absolute;
	right: 16px;
	top: 8px;
}

.act_p {
	height: 3em;
}

tr.player {
	font-size: 1.25em;
}

td.rang {
    text-align: center;
}

.watchSpan {
	font-size: 1.25em;
}
