span {
    display: grid;
    overflow: auto;
    align-content: center;
    justify-content: center;
}

#masterGrid {
    grid-template-rows: 6% 45% 10% 39%;
    grid-template-columns: 1fr 15%;
    overflow-y: auto;
    height: 100%;
    border-color: #111144;
    border-style: inset;
    border-width: 2px;
}

#characterDisp {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 1fr;
    grid-column-gap: 1vw;
}

#characterMenu {
    grid-row: 2 / 3;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
}

#initiativeDisp {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#initiativeMenu {
    grid-row: 3 / 4;
    grid-column: 2;
}

#vehicleDisp {
    grid-row: 4;
    grid-column: 1 / 2;
}

#vehicleMenu {
    grid-row: 4;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 16.5%);
    align-content: start;
}

.mainMenuButton {
    grid-row: 1 / 2;
    grid-column: 2;
    align-content: stretch;
    justify-content: stretch;
}

.menu {
    background-image: url(/static/img/light_underline_high_dark.png);
    background-size: 100% 100%;
    cursor: pointer;
    font-size: calc(12px + 1vmin);
    border-color: #111144;
    border-style: inset;
    border-width: 0 0 1px 1px;
}

.menu:hover {
    background-image: url(/static/img/light_underline_high.png);
}

.menu:active {
    background-image: url(/static/img/light_underline_high_dark.png);
}

.menuBordL {
    border-width: 0 0 0 1px;
}

.menuBordT {
    border-top-width: 1px;
}

.menuInner {
    background-image: url("/static/img/light_underline.png");
	background-size: 33% 33%;
    background-repeat: repeat-y;
	background-position: top;
    height: 100%;
}

.menuInner:hover {
    background-image: url(/static/img/light_underline_dark.png);
}

.menuInner:active {
    background-image: url(/static/img/light_underline.png);
}

.menuText:hover {
    color: #293c56;
    font-weight: bold;
}

.menuColSpan {
    grid-column: 1 / 3;
}

.menuTitledBlock {
    grid-template-columns: 1fr 1fr;;
    grid-template-rows: 1fr 1fr;
}

.sw_back {
    align-content: stretch;
    justify-content: stretch;
}

.sw_back > span {
    background-image: url("/static/img/light_underline_high.png");
	background-size: 100% 100%;
	align-self: stretch;
    font-size: calc(12px + 1vmin);
    font-weight: bold;
    color: #293c56;
    z-index: 1;
    height: 100%;
}

.charDispBod {
    border-color: #111144;
    border-style: inset;
    border-width: 2px;
    box-shadow: 3px 3px 20px #111144 inset;
    background-color: rgba(0, 0, 25, 0.5);
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    align-content: start;
    justify-content: stretch;
}

.dispItem {
    background-image: url("/static/img/light_underline.png");
	background-size: 105% 20%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 0.5vh;
    font-size: calc(12px + 2vmin);
    text-align: center;
}
