body {
    font-size: calc(12px + 1.75vmin);
    text-align: center;
}

span {
    display: grid;
}

.watchTable {
    grid-template-columns: 1fr 20%;
    grid-column-gap: 1vw;
    height: 100%;
    width: 100%
}

.waColR {
    grid-column: 2;
}

.dispPan {
    grid-template-rows: 5vh 1fr;
    overflow-y: auto;
}

.colHead {
    background-image: url("/static/img/light_underline_high.png");
	background-size: 100% 100%;
	align-self: stretch;
	align-content: center;
    font-size: calc(12px + 1vmin);
    font-weight: bold;
    color: #293c56;
    z-index: 1;
}

.colBod {
    border-color: #111144;
    border-style: inset;
    border-width: 2px;
    box-shadow: 3px 3px 20px #111144 inset;
    background-color: rgba(0, 0, 25, 0.5);
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    align-self: stretch;
}

.initBod {
    align-content: start;
}

.dispList {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.listItem {
    background-image: url("/static/img/light_underline.png");
	background-size: 105% 10%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 0.5%;
}

.listItem > img {
    justify-self: center;
}

.floatItem {
    padding: 1% 5% 1% 5%;
    margin: 1px;
    width: fit-content;
    max-width: 90%;
    height: min-content;
    border: 8px solid transparent;
    border-image: url("/static/img/light_border.png") 24 round;
    background-color: rgba(164, 221, 230, 0.15);
    font-size: calc(12px + 2vmin);
    grid-row-gap: 0.5vh;
    justify-items: center;
    align-items: center;
}

.floatItemInGr {
    justify-items: center;
    align-items: center;
    display: flex;
}

.floatItemInGr > span {
    padding-right: 10%;
}

.floatItemStats {
    font-size: calc(8px + 2vmin);
    font-weight: bold;
}

.activePlayer {
    background-image: url("/static/img/light_underline_high.png");
    background-size: 100% 100%;
    color: #293c56;
    text-shadow:
        -1px -1px 0 #DFDFFF,
        1px -1px 0 #DFDFFF,
        -1px 1px 0 #DFDFFF,
        1px 1px 0 #DFDFFF;
}

.initImg {
    height: 4vh;
    padding: 2% 0 3% 0;
}

.modImg {
    padding: 3px;
}

.modRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selectedItem {
    background-image: url("/static/img/light_underline_high.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #293c56;
    text-shadow:
        -1px -1px 0 #DFDFFF,
        1px -1px 0 #DFDFFF,
        -1px 1px 0 #DFDFFF,
        1px 1px 0 #DFDFFF;
}
